.page404 {
  background-color: white;
  height: 100vh;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .ImageContainer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  & .StyledP{
    font-size: 18px;
    font-weight: 500;
    color: #5F5F5F;
    font-family: 'pretendard', 'Noto Sans', 'Noto Sans KR';
    text-align: center;
    z-index: 2;
    line-height: 146%;
  }
  & .MagnifyingGlass{
    margin-left: 2vw;
    z-index: 1;
    transition: 300ms all;
  }

}